@use "theme" as *;

body {
  background-color: transparent !important;
  background: transparent !important;
  color: $text-primary;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
