// =======================
// Oscilloscope Styles
// =======================

.oscilloscope-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.oscilloscope-container {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba($background-darker, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
